<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 该mapper.xml映射文件的唯一标识符 -->
<mapper namespace="com.video.mapper.AdminMapper">

    <resultMap id="admin" type="com.video.pojo.Admin">

    </resultMap>

    <select id="login" resultMap="admin">
        select * from admin where username = #{adminName} and password = #{adminPwd}
    </select>



</mapper>