<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 该mapper.xml映射文件的唯一标识符 -->
<mapper namespace="com.video.mapper.VideoMapper">

    <resultMap id="video" type="com.video.pojo.Video">
        <id property="videoId" column="videoId"></id>
        <result property="videoTitle" column="title"></result>
        <result property="videoDetail" column="detail"></result>
        <result property="videoTime" column="time"></result>
        <result property="videoSpeakerId" column="speaker_id"></result>
        <result property="videoCourseId" column="course_id"></result>
        <result property="videoUrl" column="video_url"></result>
        <result property="videoImageUrl" column="image_url"></result>
        <result property="videoPlayNum" column="play_num"></result>
        <association property="speaker" javaType="com.video.pojo.Speaker">
            <id property="speakerId" column="speakerId"></id>
            <result property="speakerName" column="speaker_name"></result>
            <result property="speakerDesc" column="speaker_desc"></result>
            <result property="speakerJob" column="speaker_job"></result>
            <result property="headImgUrl" column="head_img_url"></result>
        </association>
    </resultMap>


    <select id="getVideoById" resultMap="video">
        select v.id videoId,v.title,v.detail,v.time,v.speaker_id,
                v.course_id,v.video_url,v.image_url,v.play_num,
                s.id speakerId, s.speaker_name,s.speaker_desc,s.speaker_job,s.head_img_url
         from video v,speaker s where v.id = #{videoId} and v.speaker_id = s.id
    </select>

    <select id="queryAllVideo" resultMap="video">
        select v.id videoId,v.title,v.detail,v.time,v.speaker_id,
                v.course_id,v.video_url,v.image_url,v.play_num,
                s.id speakerId, s.speaker_name,s.speaker_desc,s.speaker_job,s.head_img_url
         from video v,speaker s where  v.speaker_id = s.id
        <trim>
            <if test="title!=null and title!=''">
                and v.title like concat('%',#{title},'%')
            </if>
            <if test="speakerId!=null and speakerId!=''">
                and v.speaker_id=#{speakerId}
            </if>
            <if test="courseId!=null and courseId!=''">
                and v.course_id=#{courseId}
            </if>
        </trim>
    </select>


</mapper>